In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn import svm
from sklearn import linear_model

In [2]:
data = pd.read_csv('train.csv',header = None, low_memory= False)
data[1] = (data[1] > 0).astype(int)

In [3]:
data.groupby(1).mean()

            0         2         4          5         6         7          9
1
0  431.594340  2.530189  0.854717  23.695283  0.554717  0.324528  22.324252
1  430.048338  1.957704  0.323263  23.814713  0.477341  0.468278  49.046438

In [4]:
data.groupby(4).mean()

            0         1         2          5         6         7          9
4
0  411.803987  0.744186  2.162791  22.983389  0.684385  0.637874  45.044173
1  441.317857  0.191071  2.389286  24.148518  0.439286  0.241071  25.907015

In [5]:
data.groupby(2).mean()

            0         1         4          5         6         7          9
2
1  447.708134  0.626794  0.569378  32.781914  0.425837  0.358852  85.647249
2  426.528409  0.471591  0.590909  28.106989  0.403409  0.392045  20.891951
3  425.317227  0.245798  0.707983  18.157395  0.613445  0.384454  13.632282

In [6]:
y = data.ix[0:890,1].values 
X = data.iloc[0:890, [2,4,5]].values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
logreg = linear_model.LogisticRegression(C=1e5)
logreg.fit(X_train, y_train)
logreg.predict(X_test)

logreg.score(X_test,y_test)

0.80000000000000004