In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
from sklearn import svm

In [2]:
data = pd.read_csv('train.csv',header = None, low_memory= False)
data[1] = (data[1] > 0).astype(int)

In [3]:
data.groupby(1).mean()

            0         2         4          5         6         7          9
1
0  431.594340  2.530189  0.854717  23.695283  0.554717  0.324528  22.324252
1  430.048338  1.957704  0.323263  23.814713  0.477341  0.468278  49.046438

In [4]:
data.groupby(4).mean()

            0         1         2          5         6         7          9
4
0  411.803987  0.744186  2.162791  22.983389  0.684385  0.637874  45.044173
1  441.317857  0.191071  2.389286  24.148518  0.439286  0.241071  25.907015

In [5]:
data.groupby(2).mean()

            0         1         4          5         6         7          9
2
1  447.708134  0.626794  0.569378  32.781914  0.425837  0.358852  85.647249
2  426.528409  0.471591  0.590909  28.106989  0.403409  0.392045  20.891951
3  425.317227  0.245798  0.707983  18.157395  0.613445  0.384454  13.632282

In [6]:
y = data.ix[0:890,1].values 
X = data.iloc[0:890, [2,4]].values

In [7]:
svc = svm.SVC(kernel='linear').fit(X, y)

In [8]:
h =.02
# create a mesh to plot in
x_min, x_max = X[:, 0].min() - 1, X[:, 0].max() + 1
y_min, y_max = X[:, 1].min() - 1, X[:, 1].max() + 1
xx, yy = np.meshgrid(np.arange(x_min, x_max, h),
                     np.arange(y_min, y_max, h))

# title for the plots
titles = 'SVC with linear kernel'
          

    
    # Plot the decision boundary. For that, we will assign a color to each
    # point in the mesh [x_min, x_max]x[y_min, y_max].
plt.subplot(2, 2, i + 1)
plt.subplots_adjust(wspace=0.4, hspace=0.4)

Z = clf.predict(np.c_[xx.ravel(), yy.ravel()])

    # Put the result into a color plot
Z = Z.reshape(xx.shape)
plt.contourf(xx, yy, Z, cmap=plt.cm.Paired, alpha=0.8)

    # Plot also the training points
plt.scatter(X[:, 0], X[:, 1], c=y, cmap=plt.cm.Paired)
plt.xlabel('Sepal length')
plt.ylabel('Sepal width')
plt.xlim(xx.min(), xx.max())
plt.ylim(yy.min(), yy.max())
plt.xticks(())
plt.yticks(())
plt.title(titles[i])

plt.show()

IndentationError: unexpected indent (<ipython-input-8-451b02a06bf8>, line 17)